{% extends "base.html" %}
{% load static %}
{% load i18n %}

<head>
    {% include "header" %}
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="row">
            
            <h2 class='text-center'>Work Tree </h2>
            <hr>
            <h6  class='text-center'>Welcome "{{user.username}}" </h6>
           
            <div class="col-md-4   " >

                <ul>
                    <li><a href="{% url 'daily_notes' %}" class=" page-link   "  style='text-decoration:none;'><button type="submit" class="btn btn-success">Go to daily notes</button></a></li>
                    <li><a href="{% url 'monthtasks' %}" class=" page-link   "  style='text-decoration:none;'><button type="submit" class="btn btn-success">Go to current month Tasks</button></a></li>
                    <li> <a href="{% url 'orders' %}" class="page-link"  style='text-decoration:none;'><button type="submit" class="btn btn-success">Go to Orders</button></a></li>
                    <li><a href="{% url 'po' %}" class="page-link"  style='text-decoration:none;'><button type="submit" class="btn btn-success">Go to PO</button></a></li>
                    <li> <a href="{% url 'offer' %}" class="page-link"  style='text-decoration:none;'><button type="submit" class="btn btn-success">Go to Offers</button></a></li>
                    <li><a href="{% url 'monthly_report' %}" class="page-link"><button type="submit" class="btn btn-success">Go to Monthly Reports</button></a></li>
                    <li> <a href="#" class="page-link"  style='text-decoration:none;'><button type="submit" class="btn btn-success">Work orders View</button></a></li>
              </ul>
               
               
            </div> 

            <div class="col-md-8  fit ">
               <img src="{% static 'img/5.jpg' %}" style="height: 400px;width:750px;"    alt="">
    
            </div><hr>


      
      
        </div>
    </div>
      
    {% endblock content %}
</body>
{% include "footer" %}
</html>
 </div>