{% extends "base.html" %}
{% load static %}


<head>
    {% block title %}  {% endblock %}
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <h2 class='text-center'>Monthly Reports</h2>
            
              
            
            <a href="{% url 'report_create' %}"  class=" text-center"  style='text-decoration:none;'><button type="submit" class="btn btn-lg btn-primary" value='create ' style='float:right'>Create monthly report</button></a>
          
      {% for p in report %}
      <div class="col-md-3">
          
      <a href="{% url 'one_report' p.slug %}"  class="page-link"><h4  class="dark-grey-text  " style= "color:red;">Title:&nbsp({{p.title}})</h4></a>
       <a href="{% url 'one_report' p.slug %}" class="page-link" ><h5>Report-Id=&nbsp;({{p.id}})</h5></a>
      <h6>Date:&nbsp({{p.date}})</h6>
      
     <a href="{% url 'one_report' p.slug %}" class="page-link  "   ><img src="{{p.image.url}}" alt="" width="200"  style="height: 250px;object-fit:contain; "></a> 
     <p class="">Created by {{request.user.username}}</p>
     </div>
      
      
      {% endfor %}
        </div>
    </div>
      
    {% endblock content %}
</body>
</html>
 </div>