{% extends "base.html" %}
{% load static %}
{% load i18n %}






{% block content %}
<h5 class="text-center" style='color:red'>( a ccomplished month tasks)</h5>
<a href="{% url 'month_task_create' %}"  class=" text-center"  style='text-decoration:none;'>
    <button type="submit" class="btn btn-lg btn-primary" value='create ' style='float:right'>Create a new task</button></a><br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<hr>

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th style="background-color: #96D4D4;border: 1px solid black;" >Task-Date</th>
                        <th style="background-color: #96D4D4;border: 1px solid black;" >Task-Description</th>
                        <th style="background-color: #96D4D4;border: 1px solid black;" >Location</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in dataset %}
                    <tr>
                        <td style="background-color: #96D4D4;border: 1px solid black;">{{ data.task_date }}</td>
                        <td style="background-color: #96D4D4;border: 1px solid black;">{{ data.task }}</td>
                        <td style="background-color: #96D4D4;border: 1px solid black;">{{ data.area }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}

