
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
      <h2 class='text-center'>The Report details</h2><h6 style='color:blue;'>View count({{one_report.view_count}})</h6><hr>
      <div class="col-md-12">
        
        <table class="table">
          <thead>
              <tr >
                 
                  <th>report title</th>
                  <th>report date</th>
                  
                  <th>image</th>
                 
              </tr>
              
          </thead>
          <tbody>
                  
                  <tr >
                    
                    <td >{{one_report.title}}</td>
                    <td >{{one_report.date}}</td>
                   
                    <td><img src="{{ one_report.image.url}}" style="height: 75px;" alt=""  ></td>
                    
                </tr>
                  
                  
               
                  
                 
                  
          </tbody>
      </table>
      </div>
    </div>
</div>


{% endblock content %}