
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-12">

        <table class="table text-center">
          <thead>
              <tr >

                  <th style="background-color: #96D4D4;border: 1px solid black;">offer Title</th>
                  <th style="background-color: #96D4D4;border: 1px solid black;">offer vendor</th>
                  <th style="background-color: #96D4D4;border: 1px solid black;">Market Area</th>
                  <th style="background-color: #96D4D4;border: 1px solid black;">Quantity</th>
                  <th style="background-color: #96D4D4;border: 1px solid black;">total price(EGP)</th>
                  <th style="background-color: #96D4D4;border: 1px solid black;">offer1_image</th>
                  <th style="background-color: #96D4D4;border: 1px solid black;">offer2_image</th>
                  <th style="background-color: #96D4D4;border: 1px solid black;">part image</th>


              </tr>

          </thead>
          <tbody>

                  <tr >



                    <td style="background-color: #96D4D4;border: 1px solid black;" >{{one_offer.title}}</td>
                    <td style="background-color: #96D4D4;border: 1px solid black;" >{{one_offer.vendor}}</td>
                    <td style="background-color: #96D4D4;border: 1px solid black;" >{{one_offer.market}}</td>
                    <td style="background-color: #96D4D4;border: 1px solid black;" >{{one_offer.quantity}}</td>
                    <td style="background-color: #96D4D4;border: 1px solid black;" >{{one_offer.totalprice}}(EGP)</td>
                    <td style="background-color: #96D4D4;border: 1px solid black;"><img src="{{ one_offer.image.url}}" style="height: 75px;" alt=""  ></td>

                    {% if one_offer.offer2_image2 %}<td style="background-color: #96D4D4;border: 1px solid black;"><img src="{{ one_offer.offer2_image2.url}}" style="height: 75px;" alt=""  ></td>{% endif %}

                   {% if one_offer.image_of_offer %}<td style="background-color: #96D4D4;border: 1px solid black;"><img src="{{ one_offer.image_of_offer.url}}" style="height: 75px;" alt=""  ></td>{% endif %}



                </tr>








          </tbody>
      </table>
      </div>


    </div>
</div>



{% endblock content %}