
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-12">

        <table class="table text-center">
          <thead>
              <tr >

                  <th style="background-color: #96D4D4;border: 1px solid black;">one_order Title</th>
                  <th style="background-color: #96D4D4;border: 1px solid black;">one_order Description</th>
                  <th style="background-color: #96D4D4;border: 1px solid black;">Quantity</th>
                  <th style="background-color: #96D4D4;border: 1px solid black;">Created_at</th>
                  <th style="background-color: #96D4D4;border: 1px solid black;">image</th>

              </tr>

          </thead>
          <tbody>

                  <tr >

                    <td style="background-color: #96D4D4;border: 1px solid black;" >{{one_order.title}}</td>
                    <td style="background-color: #96D4D4;border: 1px solid black;" >{{one_order.description|safe }}</td>
                    <td style="background-color: #96D4D4;border: 1px solid black;" >{{one_order.quantity}}</td>
                    <td style="background-color: #96D4D4;border: 1px solid black;">{{one_order.date}}</td>
                    <td style="background-color: #96D4D4;border: 1px solid black;"><img src="{{ one_order.image.url}}" style="height: 75px;" alt=""  ></td>

                </tr>






          </tbody>
      </table>
      </div>


    </div>
</div>



{% endblock content %}