{% extends "base.html" %}
{% load static %}


<head>
    {% block title %}  {% endblock %}
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="row wow fadeIn">
            <h2 class='text-center'> Orders List</h2>
            
      {% for p in order %}
      <div class="col-md-3  ">
          <div class="card border=0 "> <a href="{% url 'oneorder' p.slug %}"  class="page-link"><h4  class="dark-grey-text  " style= "color:red;">&nbsp{{p.title}}</h4></a>
            
               
            
           
          <a href="{% url 'oneorder' p.id %}" class="page-link  "   ><img src="{{p.image.url}}" alt="" width="200"  style="height: 250px;object-fit:contain; "></a> 
        </div>
        <h6>The vendor:&nbsp{{p.vendor}}</h6>
           <h6 class="">count_of_offers:&nbsp{{p.numbers_of_offers}}</h6>
           
           <a href="" class=""><h6>offer_Id:&nbsp&nbsp{{ p.offer.id}}</h6></a>
                
           <h6>offer_price= &nbsp({{ p.offer.totalprice}}EGP</h6>
        
   
        
        
        
        
          
      
     </div>
      
      
      {% endfor %}
        </div>
    </div>
      
    {% endblock content %}
</body>
</html>
 </div>