{% extends "base.html" %}
{% load static %}


<head>
    {% block title %}  {% endblock %}
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <h2 class='text-center'>PO list</h2><hr>
            <img src="{% static '2.jpg' %}" alt="" class="">
      {% for p in po %}
      <div class="col-md-3">
          
      <a href="{% url 'onepo' p.slug %}"  class="page-link"><h4  class="dark-grey-text  " style= "color:red;">:&nbsp{{p.title}}</h4></a>
       
     <a href="{% url 'onepo' p.slug %}" class="page-link  "   ><img src="{{p.image.url}}" alt="" width="200"  style="height: 250px;object-fit:contain; "></a> 
     <h6>The Vendor:&nbsp{{p.vendor}}</h6>
      <h6>Market:&nbsp{{p.market}}</h6>
      <h6>Offer_Id:&nbsp{{p.offer.id}}</h6>
      <h6>count_of_offers:&nbsp{{p.numbers_of_offers}}</h6>
      

     </div>
      
      
      {% endfor %}
        </div>
    </div>
      
    {% endblock content %}
</body>
</html>
 </div>